.projects {
  h1 {
    margin: 1rem 0 1.5rem 0;
  }

  .image {
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  a button {
    width: 100%;
    text-transform: uppercase;
  }



}